<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Recipe Finder</title>
 
    
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="input.css" rel="stylesheet">
    <script src="script.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    
  </head>
 
  <body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="main">Home  </a>
                    </li>
                    <li role="presentation"><a href="showInput">Input Groceries     </a>
                    </li>
                    <li role="presentation"><a href="shutdown">Shut Down    </a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Recipe Finder</h3>
        </div>
 
      <div class="jumbotron">
        <h1>Input an Ingredient</h1>
        <form class="form-input">
        <label for="inputName" class="sr-only">Item</label>
        <input type="name" name="inputItem" id="inputItem" class="form-control" placeholder="Item" required autofocus>
        <label for="inputNumber" class="sr-only">Quantity</label>
        <input type="text" name="inputQuantity" id="inputQuantity" class="form-control" placeholder="Quantity" required autofocus>
        <label for="inputMeasurement" class="sr-only">Measurement</label>
        <input type="text" name="inputMeasurement" id="inputMeasurement" class="form-control" placeholder="Measurement (Ex: cups)" required autofocus>
        
        <button id="btnInput" class="btn btn-lg btn-primary btn-block" type="button">Submit</button>
      </form>
      </div>
 
      <footer class="footer">
            <p>&copy; Saniyah Shaikh 2018</p>
      </footer>
 
    </div>
  

  </body>
</html>