<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Recipe Finder</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/3.3/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="main">Home | </a>
                    </li>
                    <li role="presentation"><a href="showInput">| Input Groceries | </a>
                    </li>
                    <li role="presentation"><a href="showFilter">| Find Recipes | </a>
                    </li>
                    <li role="presentation"><a href="shutdown">| Shut Down</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Recipe Finder</h3>
        </div>
 
        <div class="jumbotron">
            <h1>Pantry</h1>
            <p class="lead">Here's what's available to use now:</p>
            <p>
            </p>
        </div>
 
        <footer class="footer">
            <p>&copy; Saniyah Shaikh 2018</p>
        </footer>
 
    </div>
</body>
 
</html>